crochet~=2.0.0
yagmail~=0.15.293
Flask~=2.0.3
Scrapy~=2.6.3
jmespath~=0.10.0
pip~=21.3.1
wheel~=0.37.1
cryptography~=39.0.2
lxml~=4.9.2
cssselect~=1.1.0
attrs~=22.2.0
w3lib~=2.0.1
six~=1.16.0
parsel~=1.6.0
pyasn1~=0.4.8
Twisted~=22.4.0
itemadapter~=0.7.0
PyDispatcher~=2.0.7
itemloaders~=1.0.6
queuelib~=1.6.2
tldextract~=3.1.2
Automat~=22.10.0
certifi~=2022.12.7
cffi~=1.15.1
incremental~=22.10.0
constantly~=15.1.0
hyperlink~=21.0.0
idna~=3.4
urllib3~=1.26.15
pycparser~=2.21
setuptools~=59.6.0
filelock~=3.4.1
requests~=2.27.1
click~=8.0.4
numpy~=1.19.5
msrest~=0.7.1
matplotlib~=3.3.4
Pillow~=8.4.0
azure-cognitiveservices-vision-customvision~=3.1.0
azure-cognitiveservices-vision-computervision~=0.9.0
azure-core~=1.26.4
azure-common~=1.1.28