<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <div class="App">
        <header class="App-header">
            <h1>About</h1>
        </header>
        <nav class="App-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <h2>Problem</h2>
		<p>USF logos are a protected asset of the University, and people on certain websites are taking the protected material and selling it for their own profit. 
            There is a need for a system that monitors these websites and reports when the USF logo is being used illegally. 
        </p>

		<h2>Our Solution</h2>
		<p> Our project looks to protect the USF logo by using Microsoft Azure Cognitive Services to detect the usage of the USF logos on websites, for example TeeSpring and Redbubble, so that our school can know when their copyrighted material is being used illegally. 
        </p>
    </div>
</body>
    
<footer class="App-footer">
    <p>© Built by Raed, Mateus, Mohammed, Vincent</p>
</footer>
</html>