<!DOCTYPE html>
<html>
<head>
	<title>USF Logo Detector</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
	<div class="App">
        <header class="App-header">
<!--			<img src="static\styles\img\South-Florida-Bulls-Logo.png" alt="Logo" class="App-logo">-->
            <h1>USF Logo Detector</h1>
        </header>
        <nav class="App-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
	<div class="App-content">
	<div class="container">
		<div class="box">
			<form class="App-main form" id="input-form" method="post" action="/">
                <label class="App-main label" for="email">Email:</label>
				<input class="App-main input" type="email" id="email" name="email" placeholder="Enter your email" required><br><br>

				<label class="App-main label" for="url">URL:</label>
				<input type="url" name="url" id="url" placeholder="https://example.com/" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" size="30" required>

                <label class="App-main label" for="notes">Notes:</label>
                <textarea class="App-main textarea" id="notes" name="notes" rows="4" cols="50" placeholder="Write your notes here..."></textarea><br><br>
				
				<label class="App-main label" for="num_images">Number of Images:</label>
				<input class="App-main input" type="number" id="num_images" name="num_images" min="1" placeholder="Enter the number of images to be crawled" required><br><br>

				<input id="submitbutton" type="submit" name="submitbutton" value="Submit"/>
			</form>
		</div>
	</div>

	</div>

	<div id="spinner" class="spinner-container hide">
		<img src="static\styles\img\Iphone-spinner-2.gif" alt="Loading">
		<div id="timer-container" class="timer-container hide">
			<p id="timer">0:00</p>
		</div>
	</div>
	
	

	<script>
		function validateEmail(email) {
			var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
			return emailPattern.test(email);
		}

		// Email and URL
		document.getElementById("input-form").addEventListener("submit", function(event) {
			var emailInput = document.getElementById("email");
			var urlInput = document.getElementById("url");
			var emailError = "";
			var urlError = "";

			if (!validateEmail(emailInput.value)) {
				emailError = "Please enter a valid email address.";
			}

			if (!validateUrl(urlInput.value)) {
				urlError = "Please enter a valid URL (e.g., 'http://www.example.com').";
			}

			emailInput.setCustomValidity(emailError);
			urlInput.setCustomValidity(urlError);

			if (emailError || urlError) {
				event.preventDefault();
			}
		});

		// Reset custom validity messages on input change
		document.getElementById("email").addEventListener("input", function() {
			this.setCustomValidity("");
		});

		document.getElementById("url").addEventListener("input", function() {
			this.setCustomValidity("");
		});


		function validateNumImages(numImages) {
  			var numImagesPattern = /^[1-9]\d*$/;
  			return numImagesPattern.test(numImages);
		}
		// Number of images
		document.getElementById("input-form").addEventListener("submit", function (event) {
  			var numImagesInput = document.getElementById("num_images");
  			var numImagesError = "";

			if (!validateNumImages(numImagesInput.value)) {
				numImagesError = "Please enter a valid positive integer for the number of images.";
			}

			numImagesInput.setCustomValidity(numImagesError);

			if (numImagesError) {
				event.preventDefault();
			}
		});

		// Reset custom validity messages on input change
		document.getElementById("num_images").addEventListener("input", function () {
  			this.setCustomValidity("");
		});

		// Spinner
		// Spinner and timer
		document.getElementById("input-form").addEventListener("submit", function(event) {
			var submitButton = document.getElementById("submitbutton");
    		var spinner = document.getElementById("spinner");
    		var timerContainer = document.getElementById("timer-container");
    		var timer = document.getElementById("timer");

    		submitButton.disabled = true;
    		spinner.classList.remove("hide");
    		timerContainer.classList.remove("hide");

    		var startTime = new Date();
    		var timerInterval = setInterval(function() {
        		var elapsedTime = new Date() - startTime;
        		var minutes = Math.floor(elapsedTime / 60000);
        		var seconds = Math.floor((elapsedTime % 60000) / 1000);
        		timer.textContent = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
    		}, 1000);
		});

		</script>
	</div>
	</div>
	<footer class="App-footer">
		<p>© Built by Mateus, Mohammed, Raed, Vincent</p>
	</footer>
	
</body>

</html>
