<!DOCTYPE html>
<html>
<head>
	<title>Submission Successful</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
	<div class="App">
        <header class="App-header">
			<img src="static\styles\img\South-Florida-Bulls-Logo.png" alt="Logo" class="App-logo">
            <h1>USF Logo Detector</h1>
        </header>
        <nav class="App-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

		<div class="container">
			<div class="box">
				<h2>Submission Successful</h2>
				<p>Your input has been successfully submitted, and an email will be sent to the provided address. Thank you for using USF Logo Detector!</p>
			</div>
		</div>
	</div>
</body>

<footer class="App-footer">
	<p>© Built by Mateus, Mohammed, Raed, Vincent</p>
</footer>

</html>
